

@font-face {
    font-family: 'generalFont';
    src: url('fonts/Asterisk_Sans_Variable_Regular.woff2') format('woff2'),
         url('fonts/Asterisk_Sans_Variable_Regular.ttf') format('truetype');
}

body {
    height: 100%; /* Занимает всю высоту окна */
    font-family: 'generalFont';
}

header {
    width: 100%;
    padding: 5px;
}

.main-content {
    flex: 1; /* Занимает оставшееся пространство между header и footer */
}

.logo-about-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали, если потребуется */
    padding: 20px 0; /* Опционально: отступы сверху и снизу */
}

.logo-about {
    max-width: 30%; /* Убедитесь, что изображение адаптируется под размер контейнера */
    height: auto; /* Сохраняем пропорции изображения */
}

.general-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота равна высоте окна */
}
.container-about {
    width: 90%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 8px;
    margin: 40px auto; /* Центрируем и отодвигаем от верхнего края */
    color: #333;
    line-height: 1.6;
}

.container-form-rental {
    width: 90%;
    padding: 20px;
    padding-top: 40px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 8px;
    margin-bottom: 40px;
    color: #333;
    line-height: 1.4;
}

/* Заголовок */
.container-about .about h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
    text-align: center;
}

/* Основной текст */
.container-about .about p {
    margin-bottom: 20px;
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.bordered {
    border: 1px solid #000; /* Черная рамка толщиной 2px */
    padding: 10px; /* Отступ внутри рамки */
}

.item-page-name {
    margin-top: 20%;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease; /* Анимация увеличения */
}

.nav-item:hover {
    transform: scale(1.1);
}

.product-item {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease; /* Анимация увеличения */
}

.product-item:hover {
    transform: scale(1.1);
}

.item-image {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.item-image img {
    width: 100%; /* Изображение на 100% ширины контейнера */
    height: 100%; /* Изображение на 100% высоты контейнера */
    object-fit: cover; /* Объект обрезается, чтобы сохранить пропорции */
    position: absolute; /* Абсолютное позиционирование для изображения */
    top: 50%; /* Центрируем изображение по вертикали */
    left: 50%; /* Центрируем изображение по горизонтали */
    transform: translate(-50%, -50%); /* Сдвиг для центрирования */ 
    padding: 10px;
}

.description-text {
    font-size: 1rem; /* Стандартный размер текста */
}

@media (min-width: 1600px) {
    .description-text {
        font-size: 1.5rem; /* Увеличенный размер текста для экранов больше 1600px */
    }
}

.price p {
    color: black;
    text-decoration: none;
    text-align: center;
}

.item-info {
    display: flex; /* Используем flexbox */
    flex-direction: row; /* По умолчанию в ряд */
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: center; /* Центрируем элементы по горизонтали */
    height: 550px; /* Высота для больших экранов */
}

.item-info-image img {
    max-width: 100%; /* Убедитесь, что изображение не превышает контейнер */
    height: auto; /* Сохраняем пропорции */
}

.item-description {
    overflow-wrap: break-word; /* Перенос слов для предотвращения переполнения */
    height: 550px; /* Высота для больших экранов */
}


.item-info-image {
    height: auto;
}

.footer {
    width: 100%;
    margin-top: auto; /* Сдвигает футер вниз, если контента недостаточно */
}

.container.text-center {
    padding-bottom: 50px;
}
/* Медиазапросы для маленьких экранов */
@media (max-width: 990px) {
    .item-info {
        flex-direction: column; /* Изменяем направление на колонку для маленьких экранов */
        height: auto; /* Меняем высоту на auto */
        -ms-text-size-adjust: auto; /* Для лучшего отображения текста на мобильных устройствах */
    }

    .item-info-image,
    .item-description {
        width: 98.3%; /* Задаем ширину 90% для удобства на маленьких экранах */
        margin: 0 auto; /* Центрируем контейнеры */
    }
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Важная магия - обрезает лишнее */
    object-position: center; /* Центрирует картинку */
}

.price-number {
    font-size: 30px;
    font-weight: lighter;
}

.card {
    border: 2px solid black; /* Параметры рамки */
}

.total-order-price {
    text-align: left;
}

.quantity-controls {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    padding: 5px;
}

.quantity-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

.quantity-controls span {
    background-color: white;
    padding: 5px 10px;
    border: none;
}

.page-link:focus, .page-link:active {
    outline: none; /* Убираем обводку */
    box-shadow: none; /* Убираем тень от фокуса */
}

@media (max-width: 700px) {
    .nav-link-text {
        display: none; /* Скрыть текст */
    }
    .nav-link-icon {
        display: inline-block;
    }
}
@media (min-width: 700px) {
    .nav-link-icon {
        display: none; /* Скрыть иконку */
    }
}

.logo-header {
    margin-top: 16px;
    height: 20px;
}

@media (max-width: 1010px) {
    .logo-header {
        margin-top: 19px;
        height: 18px;
    }
}

@media (min-width: 1200px) {
    .logo-header {
        margin-top: 10px;
        height: 35px;
    }
}

@media (max-width: 495px) {
    .logo-header {
        margin-top: 20px;
        height: 15px;
    }
}

@media (max-width: 390px) {
    .logo-header {
        margin-top: 23px;
        height: 10px;
    }
}

@media (max-width: 358px) {
    .custom-mb-md {
        margin-bottom: 0.25rem;
    }
}