{% extends 'shop/layout.html' %}
{% load static %}
{% load cart_filters %}

{% block content %}
<div class="container px-5 text-center">
<h1 style="text-align: left;">Ваша корзина</h1>
    {% if request.user.is_authenticated %}
        {% if items.exists %}
            <div class="row gx-5">
                {% for item in items %}
                <div class="col-md-6 mb-4 d-flex align-items-center justify-content-center">
                    <div class="card d-flex align-items-center justify-content-center" style="height: 300px">
                        <form method="post" action="{% url 'remove_from_order' item.id %}" style="position: absolute; top: 10px; right: 10px;">
                            {% csrf_token %}
                            <button type="submit" class="btn-close" aria-label="Close"></button>
                        </form>
                        <div class="row g-4 d-flex align-items-center justify-content-center">
                            <div class="col-6">
                                <img src="{{ item.product.images.first.image.url }}" class="img-fluid rounded-center" alt="{{ item.product.name }}" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                                <div class="card-body text-start">
                                    <h5 class="card-title">{{ item.product.name }}, размер {{ item.size.size }}</h5>
                                    {% if item.discount_price != item.price %}
                                        <p class="card-text"><span style="text-decoration: line-through;">Цена: {{ item.product.price }}</span></p>
                                        <p class="card-text">Цена: {{ item.discount_price }}</p>
                                    {% elif item.product.has_discount %}
                                        <p><span style="text-decoration: line-through;">Цена: {{ item.product.price }}</span></p>
                                        <p>Цена: {{ item.product.get_discounted_price }}</p>
                                    {% else %}
                                        <p class="card-text">Цена: {{ item.product.price }}</p>
                                    {% endif %}

                                    <div class="container text-center">

                                        <div class="row d-flex align-items-center justify-content-center border border-dark rounded">

                                            <div class="col-4 text-center border border-dark rounded-start border-0 bg-body-secondary bg-opacity-25">
                                                <form method="post" action="{% url 'update_order_quantity' %}" style="display: inline;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                                    <input type="hidden" name="operation" value="decrease">
                                                    <button type="submit" class="btn">-</button>
                                                </form>
                                            </div>

                                            <div class="col-4 text-center">
                                                <span>{{ item.quantity }}</span>
                                            </div>

                                            <div class="col-4 text-center border border-dark rounded-end border-0 bg-body-secondary bg-opacity-25">
                                                <form method="post" action="{% url 'update_order_quantity' %}" style="display: inline;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                                    <input type="hidden" name="operation" value="increase">
                                                    <button type="submit" class="btn">+</button>
                                                </form>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if promo_code %}
                <div class="total-order-price bg-body-secondary bg-opacity-75">
                    АКТИВИРОВАН ПРОМОКОД: {{ promo_code }}
                </div>
            {% else %}
                <div class="row">
                    <form method="post" action="{% url 'apply_promo_code' %}">
                    {% csrf_token %}
                        <div class="col-md-6 pe-4">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="code" placeholder="Введите промокод" aria-label="Введите промокод">
                                <button class="btn bg-danger bg-opacity-25" type="submit">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
            <div class="total-order-price bg-body-secondary bg-opacity-75">
                СУММА: {{ total_discount_cost }}
            </div>
            
            <form action="{% url 'making_order' %}" method="GET">
                <div class="row">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn bg-danger bg-opacity-25 m-6">Оформить заказ</button>
                    </div>
                </div>
            </form>
            
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    {% else %}
        {% if items %}
            <div class="row gx-5">
                {% for item in items %}
                    <div class="col-md-6 mb-4 d-flex align-items-center justify-content-center">
                        <div class="card d-flex align-items-center justify-content-center" style="height: 300px">
                            <form method="post" action="{% url 'remove_from_order' item|get_item:'product_id' %}" style="position: absolute; top: 10px; right: 10px;">
                                {% csrf_token %}
                                <button type="submit" class="btn-close" aria-label="Close"></button>
                            </form>
                            <div class="row g-4 d-flex align-items-center justify-content-center">
                                <div class="col-6">
                                    <img src="{{ item|get_item:'image' }}" class="img-fluid" alt="{{ item.product.name }}">
                                </div>
                                <div class="col-6 d-flex flex-column justify-content-center">
                                    <div class="card-body text-start">
                                        <h5 class="card-title">{{ item|get_item:'product' }}, размер {{ item|get_item:'size' }}</h5>
                                        {% if item|get_item:'discount_price' != item|get_item:'price' %}
                                            <p class="card-text"><span style="text-decoration: line-through;">Цена: {{ item|get_item:'price' }}</span> ₽</p>
                                            <p class="card-text">Цена: {{ item|get_item:'discount_price' }} ₽</p>
                                        {% elif item.product.has_discount %}
                                            <p><span style="text-decoration: line-through;">Цена: {{ item.product.price }}</span> ₽</p>
                                            <p>Цена: {{ item.product.get_discounted_price }}</p>
                                        {% else %}
                                            <p class="card-text">Цена: {{ item|get_item:'price' }} ₽</p>
                                        {% endif %}
                                        <div class="container">

                                            <div class="row d-flex align-items-center justify-content-center border border-dark rounded">
    
                                                <div class="col-4 text-center border border-dark rounded-start border-0 bg-body-secondary bg-opacity-25">
                                                    <form method="post" action="{% url 'update_order_quantity' %}" style="display: inline;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="product_id" value="{{ item|get_item:'product_id' }}">
                                                        <input type="hidden" name="size_id" value="{{ item|get_item:'size_id' }}">
                                                        <input type="hidden" name="operation" value="decrease">
                                                        <button type="submit" class="btn">-</button>
                                                    </form>
                                                </div>
    
                                                <div class="col-4 text-center">
                                                    <span>{{ item.quantity }}</span>
                                                </div>
    
                                                <div class="col-4 text-center border border-dark rounded-end border-0 bg-body-secondary bg-opacity-25">
                                                    <form method="post" action="{% url 'update_order_quantity' %}" style="display: inline;">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="product_id" value="{{ item|get_item:'product_id' }}">
                                                        <input type="hidden" name="size_id" value="{{ item|get_item:'size_id' }}">
                                                        <input type="hidden" name="operation" value="increase">
                                                        <button type="submit" class="btn">+</button>
                                                    </form>
                                                </div>
    
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="total-order-price bg-body-secondary bg-opacity-75">
                СУММА: {{ total_discount_cost }}
            </div>
            <form action="{% url 'making_order' %}" method="GET">
                <div class="row">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn bg-danger bg-opacity-25 m-6">Оформить заказ</button>
                    </div>
                </div>
            </form>
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}