{% extends 'shop/layout.html' %}
{% load static %}
{% load cart_filters %}

{% block content %}
{% if orders %}
    <div class="col-md-8 offset-md-1">
        <h2 class="m-3">Ваши заказы:</h2>
        <div class="card my-5 p-3 p-sm-4 m-3">
            <div class="row">
                {% for order in orders %}
                    <div class="card-body">
                        <p><strong>Заказ:</strong> {{ order.id }}</p>
                        <p><strong>Цена:</strong> {{ order.total_price }}</p>
                        <p><strong>Готовность:</strong> {{ order.get_status_display }}</p>
                        <p><strong>Статус оплаты:</strong> 
                            {% if order.payment_method == 'cash' %}
                                Ожидает оплаты в шоу-руме.
                            {% else %}
                                {% if order.payment_status == "paid" %}
                                    Заказ оплачен
                                {% elif order.payment_status == "canceled" %}
                                    Платеж отменен
                                {% else %}
                                    Ожидание
                                {% endif %}
                            {% endif %}
                        </p>
                        <a href="{% url 'order_detail' order.id %}" class="btn bg-danger bg-opacity-50">Детали заказа</a>
                        <a href="{% url 'account' %}" class="btn bg-danger bg-opacity-25">Назад</a>
                    </div>
                    {% if not forloop.last %}
                        <hr class="my-4">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <h2>Пока что вы не совершили ни одного заказа.</h2>
{% endif %}
{% endblock %}