{% extends 'shop/layout.html' %}
{% load static %}
{% load cart_filters %}

{% block content %}
<div class="col-md-8 offset-md-1">
    <h2 class="m-3">Заказ {{ order.id }}</h2>
    <div class="card my-5 p-3 p-sm-4 m-3">
        <div class="row">
            <div class="card-body">
                <p><strong>Статус:</strong> {{ order.get_status_display }}</p>   
                <p><strong>Сумма:</strong> {{ order.total_price }}</p>
                <div class="list-group mb-3">
                    <a class="list-group-item list-group-item-action bg-danger bg-opacity-25" aria-current="true">
                        Товары:
                    </a>
                    {% for item in order.get_items %}
                        <a href="{% url 'item-page' item.product.id %}" class="list-group-item list-group-item-action">{{ item.product.name }} ({{ item.quantity }} шт.) - {{ item.price }}</a>
                    {% endfor %}
                </div>
                <a href="{% url 'order_history' %}" class="btn bg-danger bg-opacity-50">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}