{% extends 'shop/layout.html' %}
{% load static %}
{% block content %}
<div class="container-fluid ms-3">
    <div class="row row-cols-auto">
        <div class="col">
            <form method="GET" action="{% url 'partners_page' %}">
                <input type="hidden" name="partners_page">
                <button type="submit" class="btn bg-danger mb-2 bg-opacity-25">Для дизайнеров</button>
            </form>
        </div>
    </div>
</div>
<div class="logo-about-container">
    <img src="{% static 'shop/img/logo.jpg' %}" alt="logo-about" class="logo-about">
</div>
<div class="container-about">
    <header class="about">
        <h1>О нашем магазине</h1>
    </header>
    <main class="about">
        <p>
            Наш магазин является площадкой для молодых и талантливых дизайнеров. За долгие годы работы мы накопили внушительную аудиторию, полную симпатии, доверия и уважения к нашему выбору проектов и дизайнеров, размещенных на наших прилавках, а также подбору вещей и стилистике.
        </p>
        <p>
            С нами работают множество именитых стилистов, одевающих звезд шоу-бизнеса и делающих фотосеты для популярнейших журналов страны. Всё это создает максимально благоприятные условия для роста и развития практически любого проекта, попавшего на нашу площадку, в онлайн или офлайн формате.
        </p>
        <p>
            Но учитывая всё вышеперечисленное, мы, в свою очередь, понимаем всю ответственность перед нашей аудиторией и с трепетом относимся к репутации. Поэтому, если это предложение попало к вам в руки, значит, вы выделяетесь из толпы и у вас есть чувство стиля, подходящее под все наши критерии.
        </p>
    </main>
</div>
{% endblock %}