{% extends 'shop/layout.html' %}
{% load static %}
{% block content %}
<div class="container-fluid ms-3">
    <div class="row row-cols-auto">
        <div class="col">
            <form method="GET" action="{% url 'about' %}">
                <input type="hidden" name="about">
                <button type="submit" class="btn bg-danger mb-2 bg-opacity-25">Назад</button>
            </form>
        </div>
    </div>
</div>
<div class="container-about">
    <header class="about">
        <h1>Для дизайнеров</h1>
    </header>
    <main class="about">
        <h5>
            Станьте резидентом YAUZA STORE!
        </h5> 
        <p>
            YAUZA STORE — это магазин с более чем 10-летней историей, объединяющий под одной крышей более 80 талантливых дизайнеров. Мы постоянно растем, радуемся успехам наших брендов и ищем новых креативных партнеров!<br>
            Вы можете стать частью нашего сообщества, если вы имеете небольшой(или большой) бренд, кастомизируете одежду, или же занимаетесь ресейлом. Выберете удобный формат сотрудничества:
        </p>
        <ul>
            <li>
                <strong>
                    Сдача товаров на реализацию<br>
                </strong>
                Мы помогаем реализовать ваши товары в нашем магазине. Наша комиссия составляет 40%. Это подходит для всех групп товаров. Если вы хотите продавать свои товары в YAUZA STORE, заполните небольшую <a href="{% url 'realization_request' %}">форму</a> и наш менеджер свяжется с вами.
            </li>
            <li>
                <strong>
                    Аренда места в шоуруме<br>
                </strong>
                Примите участие в проекте Polka и арендуйте место в нашем шоуруме. Подходит для небольших товаров (аксессуары, украшения, мелкий домашний декор, керамика). Стоимость аренды начинается от 3000₽ в месяц. Заполните <a href="{% url 'rental_request' %}">заявку на аренду</a>, и мы расскажем обо всех условиях.
            </li>
            <li>
                <strong>
                    Если вы не нашли для себя подходящего способа сотрудничества, но у вас есть идеи,
                </strong>
                то <a href="{% url 'other_request' %}">заполните форму</a>.
            </li>
        </ul>
        <p>
            Присоединяйтесь к YAUZA STORE — создавайте, продавайте и вдохновляйтесь вместе с нами!
        </p>
    </main>
</div>
{% endblock %}
