{% extends 'shop/layout.html' %}
{% load static %}
{% load cart_filters %}
{% block content %}
    <div class="container policy-container mt-5" style="font-size: 14px;">
        <h3 class="text-center mb-3">Политика конфиденциальности</h3>

        <p>«YAUZA STORE» (далее — «мы», «наш», «магазин») уважает вашу конфиденциальность и заботится о защите ваших персональных данных. Настоящая Политика конфиденциальности описывает, как мы собираем, используем, обрабатываем и защищаем вашу информацию.</p>

        <h5>1. Информация, которую мы собираем</h5>
        <p>При использовании нашего сайта или при оформлении заказа, мы можем собирать следующую информацию:</p>
        <ul>
            <li><strong>Персональные данные:</strong> Имя, фамилия, адрес электронной почты, номер телефона, адрес доставки (если это необходимо).</li>
            <li><strong>Данные о заказах:</strong> Информация о товарах, которые вы приобрели, включая размер и количество.</li>
            <li><strong>Финансовая информация:</strong> Данные платежных карт (например, номер карты и дата истечения) обрабатываются сторонними платежными системами, и мы не храним эту информацию.</li>
        </ul>

        <h5>2. Как мы используем ваши данные</h5>
        <p>Мы используем собранную информацию для следующих целей:</p>
        <ul>
            <li>Обработка и выполнение ваших заказов.</li>
            <li>Улучшение качества обслуживания клиентов.</li>
            <li>Отправка информации о статусе заказа и других уведомлений.</li>
            <li>Проведение анализа для улучшения работы нашего магазина.</li>
            <li>Отправка маркетинговых материалов и новостей (при наличии вашего согласия).</li>
        </ul>

        <h5>3. Раскрытие вашей информации</h5>
        <p>Мы не продаем, не обмениваем и не передаем вашу информацию третьим лицам, за исключением случаев, когда это необходимо для выполнения вашего заказа (например, доставка) или когда это предусмотрено законом.</p>

        <h5>4. Защита данных</h5>
        <p>Мы принимаем необходимые меры для защиты ваших персональных данных от несанкционированного доступа, изменения, раскрытия или уничтожения. Однако, пожалуйста, помните, что ни один метод передачи через интернет и ни один метод хранения данных не является на 100% безопасным.</p>

        <h5>5. Ваши права</h5>
        <p>Вы имеете право:</p>
        <ul>
            <li>Запрашивать доступ к своим персональным данным и получать их копию.</li>
            <li>Исправлять любые неточные или неполные данные.</li>
            <li>Запрашивать удаление своих данных (в определенных условиях).</li>
            <li>Отказаться от получения маркетинговых материалов.</li>
        </ul>

        <h5>6. Изменения в Политике конфиденциальности</h5>
        <p>Мы можем периодически обновлять нашу Политику конфиденциальности. Мы уведомим вас об изменениях, разместив новую версию на этой странице. Рекомендуем периодически просматривать эту страницу для получения актуальной информации.</p>

        <h5>7. Контактная информация</h5>
        <p>Если у вас есть вопросы или комментарии по поводу нашей Политики конфиденциальности, пожалуйста, свяжитесь с нами:</p>
        <ul>
            <li><strong>Название магазина:</strong> YAUZA STORE</li>
            <li><strong>Адрес:</strong> г. Москва, Лучников пер. 4с1 (м. Китай-Город)</li>
            <li><strong>Тел.:</strong> +7(967)088-81-69</li>
            <li><strong>Email:</strong> yauzastore@gmail.com</li>
            <li><strong>ИНН:</strong> 772977476160</li>
        </ul>
    </div>
{% endblock %}