{% extends 'shop/layout.html' %}
{% load static %}
{% load cart_filters %}
{% block content %}
<body>
    <div class="container policy-container mt-5" style="font-size: 14px;">
        <h1>Политика возврата и обмена</h1>
        <p>Мы в <span class="highlight">YAUZA STORE</span> стремимся предоставить нашим клиентам продукцию высокого качества и гарантируем ваше удовлетворение покупками. Если по каким-либо причинам вы не полностью удовлетворены приобретенным товаром, мы рады предложить вам возврат или обмен в соответствии с нашей политикой.</p>

        <h2>1. Условия возврата и обмена</h2>
        <ul>
            <li>Возврат и обмен товара возможен в течение <strong>14 дней</strong> с момента получения заказа.</li>
            <li>Товар должен быть в первоначальном состоянии: неношеный, неиспользованный, с сохраненными ярлыками и оригинальной упаковкой.</li>
            <li>Возврату не подлежат:
                <ul>
                    <li>Товары со скидками и распродажи.</li>
                    <li>Предметы личной гигиены, косметика, белье и купальники, апсайкл и винтажные вещи, а также носки.</li>
                </ul>
            </li>
            <li>Не принимаются возвраты товаров, имеющих следы носки или повреждения.</li>
        </ul>

        <h2>2. Процесс возврата и обмена</h2>
        <ol>
            <li><strong>Свяжитесь с нами</strong> — Пожалуйста, отправьте запрос на возврат/обмен по электронной почте на <span class="highlight">YAUZASTORE@gmail.com</span> или через наш сайт, указав номер заказа и причину возврата.</li>
            <li><strong>Упаковка товара</strong> — Пожалуйста, упакуйте товар надлежащим образом, чтобы избежать повреждений при транспортировке.</li>
            <li><strong>Отправка возврата</strong> — Отправьте товар обратно в ПВЗ СДЭК по адресу: г. Москва, Лучников пер. 4с2.</li>
            <li><strong>Получение и проверка</strong> — После получения и проверки товара мы уведомим вас по электронной почте о статусе возврата.</li>
        </ol>

        <h2>3. Возврат средств</h2>
        <p>После того как ваш возврат будет обработан, мы произведем возврат средств на ваш исходный способ оплаты в течение <strong>5-10 дней</strong>. Обратите внимание, что срок зачисления средств может варьироваться в зависимости от вашего банка или платежной системы.</p>
        <p>Стоимость доставки заказа не возвращается, за исключением случаев, когда возврат обусловлен нашей ошибкой (например, отправка бракованного или неверного товара).</p>

        <h2>4. Обмен товара</h2>
        <p>Если вы хотите обменять товар на другой размер или цвет, пожалуйста, свяжитесь с нашей службой поддержки. Мы поможем вам зарезервировать нужный товар (при его наличии на складе).</p>
        <p>Обмен производится после получения и проверки возвращаемого товара, либо вы можете оформить новый заказ на нужный товар и вернуть первоначальный.</p>

        <h2>5. Бракованный или неправильный товар</h2>
        <p>Если вы получили товар с браком или неправильный товар, пожалуйста, свяжитесь с нами в течение <strong>5-и дней</strong> с момента получения. Мы предложим вам обмен или возврат полной стоимости, включая стоимость доставки.</p>

        <h2>6. Контакты</h2>
        <div class="contact-info">
            <p><strong>Электронная почта:</strong> YAUZASTORE@gmail.com</p>
            <p><strong>Телефон:</strong> +7 (967) 088-81-69</p>
            <p><strong>Часы работы:</strong> Пн–Пт, с 12:00 до 21:00</p>
        </div>
    </div>
{% endblock %}