{% extends 'shop/layout.html' %}
{% load static %}
{% load cart_filters %}
{% block content %}
<div class="container overflow-hidden text-center mt-5">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3 text-start">
                <label for="old_password" class="form-label">Старый пароль:</label>
                {{ password_form.old_password|add_class:"form-control" }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3 text-start">
                <label for="new_password1" class="form-label">Новый пароль:</label>
                {{ password_form.new_password1|add_class:"form-control" }}
            </div>
            <div class="col-md-6 mb-3 text-start">
                <label for="new_password2" class="form-label">Подтвердите новый пароль:</label>
                {{ password_form.new_password2|add_class:"form-control" }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="d-grid gap-2">
                <button type="submit" class="btn bg-danger bg-opacity-25 mb-6">Изменить пароль</button>
            </div>
        </div>
        <div class="row">
            <div class="d-grid gap-2">
                <button type="button" class="btn bg-danger bg-opacity-25" onclick="window.history.back()">Выйти без изменений</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}